@layer components {
    .calculator-remove {
        padding-bottom: 2em;
    }
    .calculator-inputs {
        max-width: 400px;
        align-self: center;
        display: flex;
        flex-direction: column;
        background-color: white;
        label {
            display: flex;
            flex-direction: column;
            align-content: start;
        }
        .input-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            align-items: center;
        }
        .input-wrapper > * {
            grid-column: 1;
            grid-row: 1;
        }
        .icon-wrapper {
            display: flex;
        }
        .icon-wrapper.end {
            justify-self: end;
            margin-right: 0.25em;
        }
        .icon-wrapper.start {
            justify-self: start;
            margin-left: 0.25em;
        }
        .input-icon {
            height: 1.25em;
            width: 1.25em;
        }
        .form-label {
            margin-bottom: 0.25em;
        }
        label .form-input {
            padding: 0.5em 0.5em;
            border: 1px solid silver;
            background-color: transparent;
            border-radius: 6px;
            width: 100%;
        }
        label .form-input.start {
            padding-left: 2em;
        }
        label .form-input.end {
            padding-right: 2em;
        }
        label .form-input[aria-invalid="true"] {
            border: 1px solid red;
        }
        label .form-input[aria-invalid="true"]:focus {
            outline: 1px solid red;
        }
        label .form-input:focus {
            outline: 2px solid var(--turquoise);
        }
        label .input-feedback {
            color: red;
        }
    }

    .calculator-inputs--group {
        padding: 1em;
    }

    .prepayment-options--header {
        padding: 0.25em 1em;
        background-color: var(--turquoise);
        cursor: pointer;
    }
    .prepayment-options--inputs {
        opacity: 1;
        max-height: 50vh;
        transition: all 0.4s ease;
    }
    .prepayment-options--inputs.collapsed {
        max-height: 0;
        padding: 0 1em;
        opacity: 0;
    }
}