nav {
    list-style-type: none;
    display: flex;
    justify-content: end;
    margin: 0.5em;
    padding: 0;
}

nav a:hover, nav a.active {
    background-color: var(--turquoise);
    color: white;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 0 0.5em;
    border-bottom: 4px solid var(--turquoise);
}

a:visited {
    color: currentColor;
}

main {
    min-height: 90vh;
    position: relative;
}

