nav {
    list-style-type: none;
    display: flex;
    justify-content: end;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 2.25rem;
    border-bottom: 4px solid var(--turquoise);
    background-color: #f7f7f7;
    z-index: 1;
}

nav a:hover, nav a.active {
    background-color: var(--turquoise);
    color: white;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 0 0.5em;
}

a:visited {
    color: currentColor;
}

main {
    min-height: calc(100vh - 2.25rem);
    position: relative;
    padding-top: 2.25rem
}

.home {
    min-height: calc(100vh - 2.25rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        text-align: center;
        font-family: "Mochiy Pop One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:  calc(2.75rem + 10vw);
        background: linear-gradient(
                65deg,
                var(--argentinian-blue),
                var(--turquoise),
                var(--argentinian-blue)
        );
        background-clip: text;
        color: transparent;
    }
}

.about {
    min-height: 90vh;

    p {
        font-size: 1.2rem;
    }
}
.about-description {
    background-color: white;
    max-width: 40rem;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: #e5e5e5 2px 4px 20px 5px;
    border-radius: 4px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100%;
    background: linear-gradient(
            65deg,
            var(--turquoise),
            var(--argentinian-blue)
    );
}

