.mortgage-table {
  display: grid;
  grid-gap: 5px;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  grid-auto-columns: 20%;

  grid-template-columns: 5% repeat(5, 19%);
  grid-template-rows: repeat(1, auto);
}

.t-row {
  padding: 5px;
  background-color: pink;
  border: red;
}

.row-header {
  grid-column: 1 / -1;
}

.sub-grid-wrapper {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
}
.sub-grid {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-auto-flow: column;
}