.mortgage-schedule {
  display: grid;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  grid-auto-columns: 20%;

  grid-template-columns: 5% repeat(5, 19%);
  grid-template-rows: repeat(1, auto);
  min-width: max-content;
}
.mortgage-schedule span {
  padding:  0 0.5em 0 1em;
}

.mortgage-schedule-header {
  font-weight: bolder;
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.yearly-summary-header {
  cursor: pointer;
  background-color: var(--turquoise);
  font-weight: bolder;
  white-space: nowrap;
}
.year-collapsed.sub-grid.yearly-summary-header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
}
.year-collapsed .yearly-summary-interest {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.year-collapsed .yearly-summary-principal {
  grid-column: 2 /3;
  grid-row: 2 / 3;
}
.year-collapsed .yearly-summary-balance {
  grid-column: 2 /3;
  grid-row: 3 / 4;
}
.yearly-summary-header span:first-child {
  text-align: left;
  grid-column: 1 / 4;
}
.year-collapsed.yearly-summary-header span:first-child {
  grid-column: initial;
}
.yearly-summary-header span:not(:first-child) {
  font-family: monospace;
}

.mortgage-schedule-row {
  padding: 0.5em;
  font-family: monospace;
}
.mortgage-schedule-row span {
  white-space: nowrap;
}

.mortgage-schedule-row:nth-child(odd) {
  background-color: white;
}

.t-row {
  padding: 5px;
}

.sub-grid-wrapper {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
}
.sub-grid {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-auto-flow: column;
  text-align: right;
}
.collapsed {
  height: 0;
  visibility: hidden;
}