.output-summary {
  display: grid;
  grid-template-areas: 
    "principal rate schedule"
    "payment payment payment";

  border-radius: 4px;
  background-color: white;
  margin-bottom: 2em;
  padding: 1em;
}

.summary-header {
  font-size: 0.75rem;
  padding-bottom: 0;
}
.summary-header.output {
  margin-bottom: 0.25em;
}

.principal-wrapper {
  grid-area: principal;
}

.rate-wrapper {
  grid-area: rate;
}

.schedule-wrapper {
  grid-area: schedule;
}

.payment-wrapper {
  grid-area: payment;
}

.summary-payment {
  font-size: 2rem;
}